{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}


        <!--START HERO PAGE -->

        <!-- Container for demo purpose -->
        <div class="container my-4 mx-auto md:px-3">
            <!-- Section: Design Block -->
            <section class="mb-2">
              <div class="flex justify-center">
                <div class="max-w-[700px] text-center">
                  <p class="mb-6 font-bold uppercase text-3xl dark:text-primary-400">
                    Find your next freelance gig fast
                  </p>
                  <h2 class="mb-6 text-3xl font-bold">Why is it so great?</h2>
                  <p class="mb-16 text-neutral-500 dark:text-neutral-300">
                    Effortlessly uncover your next freelance venture with our streamlined platform, ensuring a prompt and efficient search process. Explore opportunities swiftly and efficiently, allowing you to focus on what you do best. What sets us apart is our commitment to providing a seamless experience, making the journey to your next freelance gig both enjoyable and rewarding. Join us in revolutionizing the way freelancers connect with opportunities, and experience the greatness of finding your next gig with unparalleled ease.
                  </p>
                </div>
              </div>
          
            
            </section>
            <!-- Section: Design Block -->
          </div>
          <!-- Container for demo purpose -->
        
                <!--END HERO PAGE -->


    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Newest Listings</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price: {{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{ category.items.count }} items</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}