{% extends 'core/base.html' %}

{% block title %}Welcome to ServiceHUb{% endblock %}

{% block content %}
    <div class="font-sans">
        <h1 class="text-5xl text-blue-500 font-bold">Welcome to ServiceHub</h1>
        
        <div>
            <div class="mt-7 text-2xl">
                <p> ServiceHub is a site where you can easily get access to services without leaving the confort of your home.
                    With serviceHub you get access to all types of services you may need in your home or bussiness.
                    We have over 10 categories of services.
                </p>
            
            </div>
        </div>

        <div class="flex mt-7 p-4 rounded-xl bg-blue-100">
            <div class="w-1/2 flex justify-center items-center">
                <img src="/media/item_images/gardener.jpg" alt="Your Services" width="300" height="300" class="rounded-lg">
            </div>
            <div class="w-1/2 mt-5">
                <p class="text-3xl text-blue-500"> Find services at your convinience</p>
                <p class="text-xl mt-5">
                    <li>Plumbing</li>
                    <li>Capentry</li>
                    <li>Baby Sitting</li>
                </p>
            </div>
        </div>
        
        <div class="mt-7 border border-blue-700 p-4 rounded-xl flex bg-gray-200">
            <div class="mt-7 w-1/2">
                <p class="text-3xl text-blue-500">Post a listing and find a gig</p>
                <p class="mt-5 text-xl">
                    <li>Are you a skilled artisan?</li>
                    <li>Would you like to get a gig?</li>
                    <li>Click the Register button to get started...!!</li>
                </p>
            </div>
            <div class="w-1/2 flex justify-center items-center">
                <img src="/media/item_images/service1.jpg" alt="Your Services" width="300" height="300" class="rounded-lg">
            </div>
        </div>
        
        <div class="mt-7 rounded-xl flex bg-blue-100">
            <div class="w-1/2 flex justify-center items-center">
                <img src="/media/item_images/Tutor.jpg" alt="Your Services" width="300" height="300" class="rounded-lg">
            </div>
            <div class="w-1/2 mt-5">
                <p class="text-3xl text-blue-500">How it Works</p>
                <p class="mt-5 text-xl">
                    <li>Click the Register button and register yourself.</li>
                    <li>Create a Listing.</li>
                    <li>Find a Match.</li>
                    <li>Then Hire your Preferred Candidate.</li>
                </p>
            </div>
            
        </div>
        
        <div class="mt-7 border border-blue-700 p-4 rounded-xl flex bg-gray-200 justify-end">
            <div class = "w-1/2 mt-5">
                <p class="text-3xl text-blue-500">Offer services in any location</p>
                <p class="mt-5 text-xl">
                    ServiceHub is a site where you can easily get access to services without leaving the confort of your home.
                    With ServiceHub you can offer services in any location.
                </p>
            </div>
            <div class="w-1/2 float-right flex justify-center items-center">
                <img src="/media/item_images/Dog_trainer.jpg" alt="Your Services" width="300" height="300" class="rounded-lg">
            </div>
        </div>

    </div>
    
{% endblock %}