{% extends 'core/base.html' %}

{% block title %}Logged out{% endblock %}

{% block content %}S
	<h1>Logged out Successfully</h1>

	<div class="font-sans">
        <h1 class="text-5xl text-blue-500 font-bold">Welcome to ServiceHub</h1>
        
        <div>
            <div class="mt-7 text-2xl">
                <p> ServiceHub is a site where you can easily get access to services without leaving the confort of your home.
                    With serviceHub you get access to all types of services you may need in your home or bussiness.
                    We have over 10 categories of services.
                </p>
            
            </div>
        </div>

        <div class="flex mt-7 p-4 rounded-xl bg-blue-100">
            <div class="w-1/2 flex justify-center items-center">
                <img src="/media/item_images/service.jpeg" alt="Your Services" width="300" height="300" class="rounded-lg">
            </div>
            <div class="w-1/2 mt-5">
                <p class="text-3xl text-blue-500"> Find services at your convinience</p>
                <p class="text-xl mt-5">
                    "Discover and connect with service providers anytime, anywhere.
                    Access a diverse network of skilled professionals.
                    Choose from a wide selection of providers to find the most convenient expert for your needs.
                    Our service providers deliver exceptional quality at affordable prices. 
                    Sign in now to find the perfect solution and solve your problems hassle-free."
                
                </p>
            </div>
        </div>
        
        <div class="mt-7 border border-blue-700 p-4 rounded-xl flex bg-gray-200">
            <div class="mt-7 w-1/2">
                <p class="text-3xl text-blue-500">Post a listing and find a gig</p>
                <p class="mt-5 text-xl">
                    Are you a skilled artisan? Would you like to get a gig?
                    Register with us a post a listing on our site and get access to
                    a large pool of buyers in need of your services. 
                    You can get buyers from within your locale at anytime.
                    You can also offer services in other location if you move.
                </p>
            </div>
            <div class="w-1/2 flex justify-center items-center">
                <img src="/media/item_images/service1.jpg" alt="Your Services" width="300" height="300" class="rounded-lg">
            </div>
        </div>
        
        <div class="mt-7 rounded-xl flex bg-blue-100">
            <div class="w-1/2 flex justify-center items-center">
                <img src="/media/item_images/service2.jpg" alt="Your Services" width="300" height="300" class="rounded-lg">
            </div>
            <div class="w-1/2 mt-5">
                <p class="text-3xl text-blue-500">Move with your tools</p>
                <p class="mt-5 text-xl">
                    The flexibility of our application allows user both buyers and
                    service provides to change their location and still access our services. 
                    Service providers who move can continue to offer services in their new location.
                    Buyers can also get the service they need in their new home or workplace.
                </p>
            </div>
            
        </div>
        
        <div class="mt-7 border border-blue-700 p-4 rounded-xl flex bg-gray-200 justify-end">
            <div class = "w-1/2 mt-5">
                <p class="text-3xl text-blue-500">Offer services in any location</p>
                <p class="mt-5 text-xl">
                    ServiceHub is a site where you can easily get access to services without leaving the confort of your home.
                    With ServiceHub you can offer services in any location.
                </p>
            </div>
            <div class="w-1/2 float-right flex justify-center items-center">
                <img src="/media/item_images/globe1.jpg" alt="Your Services" width="300" height="300" class="rounded-lg">
            </div>
        </div>

    </div>

	<h1 class="text-4xl font-bold mb-4">Logged Out Sucessfully !</h1>
    
{% endblock %}
